@font-face {
  font-family: 'Roboto_Condensed';
  src: url('./fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf');
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto_Condensed';
}

body {
  height: 100vh;
  background-color: #374654;
}
