header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

hr {
    height: 1.2rem;
    color: #B2F7EF;
}

nav {
    display: flex;
    gap: 1rem;
    font-weight: 500;
}

a {
    color: #B2F7EF;
    font-size: 1rem;
}

nav > a:hover {
    text-decoration: underline;
}

.logo {
    width: 3rem;
    margin-left: 1rem;
}
